body {
  background-color: #121212;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #00aaff;
}

.form-container {
  display: flex;
  margin-bottom: 10px;
}

.instruction-text {
  font-size: 0.9em;
  color: #aaa;
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  flex: 1;
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 1em;
}

button {
  padding: 12px 20px;
  border: none;
  background-color: #00aaff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
}

button:hover {
  background-color: #0088cc;
}

.start-cooking-btn {
  width: 100%;
  margin-top: 10px;
  background-color: #00cc66;
}

.start-cooking-btn:hover {
  background-color: #00aa55;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #2c2c2c;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

.timer-container {
  text-align: center;
}

.timer-container h2 {
  font-size: 3em;
  color: #00cc66;
  margin: 20px 0;
}

.timer-container p {
  font-size: 1.2em;
  color: #aaa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }

  input[type="text"],
  input[type="number"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}